@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

.monospace {
    font-family: monospace;
    color:#666;
}

body {
    font-family: Arial, sans-serif;

}

ol a{
    text-decoration: none;
    color: black;
}

ol {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 0.81rem;
    padding: 0px 8px 0px 8px;
    margin: 0px;
    gap: 15px;
}

/* Searching Bar */


.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

.top-bar {
    padding: 10px;
}

.search-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rounder-bar {
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    margin-top: 10px;
}

.btn-container {
    display: flex;
    gap: 15px;
}

.form-container .search-bar input[type="submit"] {
    background-color: #f8f9fa;
    margin-top: 25px;
    padding: 10px 16px;
    border-radius: 4px;
    border: 1px solid #f8f9fa;
}
.form-container .search-bar input[type="submit"]:hover{
    cursor: pointer;
}

/* Google image .img */

.modified-ggl-logo {
    width: 272px;
    height: 92px;
}

/* Advanced Search Styling */

.advanced-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.advanced-search-body {
    padding: 60px 55px;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}

.advanced-search-body .submit-btn {
    padding: 10px;
    font-size: 0.688rem;
    background-color: #4d90fe;
    color: white;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
}

.container-form-submit-btn{
    display: flex;
    justify-content: end;
    width: 42.2%;
}

.advanced-search-body_input-paragraph {
    width: 180px;
}

.title-container h1 {
    width: 100%;
    color: #d93025;
    font-weight: 500;
    font-size: 1.25rem;
    margin: 25px 35px;
    padding: 20px;
}


.advanced-search-body_input {
    display: flex;
    gap: 2rem;
    height: 29px;
    align-items:center;
    margin-top: 20px;
}

.advanced-search-body_title-span {
    display: flex;
    gap: 43.3rem;
    align-items: center;
}

.advanced-search-body_title-span span:nth-last-child(1){
    font-weight: bold;
    color: #777;
    font-size: 0.813rem;
}

.advanced-search-body_input p {
    font-size: 0.688rem;
    color: #555;
}


.advanced-search-body_input input {
    width: 30%;
    padding: 6px;
    border: 1px solid #d9d9d9;
}

.advanced-search-body_input span{
    font-size: 0.75rem;
}



