@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

body {
    font-family: Roboto, sans-serif;
}

ol a{
    text-decoration: none;
    color: black;
}

ol {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 0.81rem;
    padding: 6px;
    gap: 15px;
}